<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>
                Viktoriia's Vaxx Passport report for user: {{vvp_number}}
            </h4>
            <h4>
                Vaccination report for: {{first_name}} {{last_name}}
            </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each vaxxes as |vaxx|}}
                    <tr>
                        <td>
                            {{vaxx.vaxx_name}}
                        </td>
                        <td>
                            {{vaxx.description}}
                        </td>
                        <td>
                            {{vaxx.date_created}}
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>