<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Viktoriia's Vaxx Passport Report for {{first_name}} {{last_name}} ({{vvp_number}})
                </h5>
                {{#if vaxxes}}
                <div class="card-body">
                    <p class="card-text">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                {{!-- <th>
                                    Name
                                </th> --}}
                                <th>
                                    Description
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each vaxxes as |vaxx|}}
                            <tr>
                                {{!-- <td>
                                    {{vaxx.vaxx_name}}
                                </td> --}}
                                <td>
                                    {{vaxx.description}}
                                </td>
                                <td>
                                    {{format_date vaxx.date_created}}
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
                {{else}}

                <div class="alert alert-danger" role="alert">
                    <h2>
                        <p class="text-center">No Vaccines on file.</p>
                    </h2>
                </div>
                {{/if}}
            </div>
        </div>
        </p>
    </div>
    <div class="card-footer">
        For more information about the Viktoriias Vaxx Passport head over to <a
            href="https://viktoriiasvaxxpassport.com">viktoriiasvaxxpassport.com</a>
    </div>

</div>