<div class="container-fluid">
  <div class="container">
    <h2 class="text-center" id="title">Welcome, {{first_name}}!</h2>
    <hr>
    <form>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationDefault01">First name </label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value={{first_name}}
            required>
        </div>

        <div class="col-md-4 mb-3">
          <label for="validationDefault02">Last name</label>
          <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value={{last_name}}
            required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationDefaultUsername">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">@</span>
            </div>
            <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Enter your email"
              value={{email}} aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Zip</label>
        <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" value={{zipcode}} required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">VVP number</label>
        <input type="text" class="form-control" id="validationDefault05" placeholder="vvp" value={{vvp_number}}
          required>
      </div>
  </div>

  {{!--
  <link rel="stylesheet" href="/css/style.css"> --}}